---
import Base from "@layouts/Base.astro";
import {markdownify} from "@lib/utils/textConverter";
import {getEntryBySlug} from "astro:content";
import MailingListSignUp from "../layouts/components/MailingListSignUp.astro";

const entry = await getEntryBySlug("book", "index");
const {title, description} = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)}/>
      <div class="section row pb-0">
        <div class="md:col-126 col-12 mx-auto content-center lg:col-12">
          <iframe
            data-tally-src="https://tally.so/embed/mOXKDg?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
            loading="lazy"
            width="100%"
            height="1833"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            title="Ely Repair Cafe booking form"></iframe>
          <script>
            var d = document,
              w = "https://tally.so/widgets/embed.js",
              v = function () {
                "undefined" != typeof Tally
                  ? Tally.loadEmbeds()
                  : d
                    .querySelectorAll("iframe[data-tally-src]:not([src])")
                    .forEach(function (e) {
                      e.src = e.dataset.tallySrc;
                    });
              };
            if ("undefined" != typeof Tally) v();
            else if (d.querySelector('script[src="' + w + '"]') == null) {
              var s = d.createElement("script");
              (s.src = w),
                (s.onload = v),
                (s.onerror = v),
                d.body.appendChild(s);
            }
          </script>
        </div>
        <MailingListSignUp/>
      </div>
    </div>
  </section>
</Base>
