---
import Base from "@layouts/Base.astro";
import {markdownify} from "@lib/utils/textConverter";
import {getEntryBySlug} from "astro:content";
import MailingListSignUp from "../layouts/components/MailingListSignUp.astro";

const entry = await getEntryBySlug("book", "index");
const {title, description} = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)}/>
      <div class="section row pb-0">
        <div class="md:col-126 col-12 lg:col-12 mx-auto content-center">
          <div
            class="flex items-center p-4 mb-4 text-sky-800 border-t-4 border-sky-300 bg-sky-50 dark:text-sky-400 dark:bg-gray-800 dark:border-sky-800"
            role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                 viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div class="ms-3 pl-4">
              <p class="mb-2">The next event is still being planned but we're hoping to run the next Repair Cafe on 25 May 2024.</p>
            </div>
          </div>
          <MailingListSignUp/>
        </div>
      </div>
    </div>
  </section>
</Base>
